add


<!--     <h2>Hello {{helloTo.title}} !</h2>
<ol>
   <li ng-repeat="theItem in helloTo.items"  ng-click="helloTo.doClick(theItem,$event)">{{theItem.text}}</li>
</ol>
<ol>
   <li ng-repeat="(name, value) in helloTo.myObject">{{$middle}} {{name}} = {{value}}</li>
</ol>
<div ng-repeat="item in helloTo.items | filter: itemFilter">{{item.text}}</div>

<ol>
    <li ng-repeat="item in helloTo.items | orderBy:sortField">
        {{item.text}} 
    </li>
</ol>
<div>
    <div ng-click="helloTo.doClick()">Click here</div>
</div>
 -->